body{
  font-family: 'Open Sans', sans-serif;
}
.trivia-cont{
  background-color: white;
  border-radius: 3px;
}
/* Trivia Section  */
.question-cont{
  display: none;
}

/* Winner Section  */
.winner-cont{
  display: none;
}

.winner-title{
  font-weight: bold;
}

.winner-img{
  height: 30px;
  display: inline;
}

.winner-name{
  display: inline;
  margin-left: 5px;
}
